<h1>SalesApp</h1>
<p>Applying the concepts of <a href='https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html' target="_blank">Clean Architecture</a>. Built with:</p>
<ul>
  <li><a href='https://get.asp.net/' target="_blank">ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx' target="_blank">C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/' target="_blank">Angular</a> and <a href='http://www.typescriptlang.org/' target="_blank">TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/' target="_blank">Bootstrap</a> for layout and styling</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
